<template>
	<div class="container">
		<TheLabelStyle/>
		<TheType/>
		<TheColor/>
		<TheDisabled/>
		<TheState/>
		<TheIcon/>
		<TheHelper/>
		<TheClear/>
		<TheRegexPreset/>
		<TheTimeout/>
	</div>
</template>

<script>
import TheLabelStyle from "./LabelStyle.vue";
import TheType from "./Type.vue";
import TheColor from "./Color.vue";
import TheDisabled from "./Disabled.vue";
import TheState from "./State.vue";
import TheHelper from "./Helper.vue";
import TheIcon from "./Icon.vue";
import TheClear from "./Clear.vue";
import TheRegexPreset from "./RegexPreset.vue";
import TheTimeout from "./Timeout.vue";

export default {
	components: {
		TheLabelStyle,
		TheType,
		TheColor,
		TheDisabled,
		TheState,
		TheHelper,
		TheIcon,
		TheClear,
		TheRegexPreset,
		TheTimeout
	}
};
</script>

<style>
.container {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
}

input {
	font-weight: 200;
}
</style>