<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Clear</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Label"
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Clear</h3>
				<section>
					<TheInput
						v-model="inputLabelOutside1"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Label"
						clearable
					>
						<template v-slot:clear>
							<i class="fas fa-calendar-times text-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Clear</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Label"
						clearable
					>
						<template v-slot:clear>
							<i class="fas fa-times text-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Clear</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						placeholder="Label"
						clearable
					>
						<template v-slot:clear>
							<i class="far fa-trash-alt text-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "Defalue icon.",
			inputLabelOutside1: "Custom icon.",
			inputLabelBorder1: "Custom icon.",
			inputLabelNone1: "Custom icon."
		};
	},

	methods: {
		isValidEmail(email) {
			const re = /[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+/;
			return re.test(email);
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px 10px 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}

.text-gray {
    color: gray;
}
</style>