<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Color</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Username"
						:disabled="false"
						containerClass="input1"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Color</h3>
				<section>
					<TheInput
						v-model="inputLabelOutside1"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Username"
						:disabled="false"
						containerClass="input2"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Color</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Username"
						:disabled="false"
						containerClass="input3"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Color</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						placeholder="Username"
						:disabled="false"
						containerClass="input4"
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "tan",
			inputLabelOutside1: "#9b59b6",
			inputLabelBorder1: "#2980b9",
			inputLabelNone1: "rgb(52, 73, 94, .5)"
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}

.input1 {
	--vmq-text-input-color: tan;
}

.input2 {
	--vmq-text-input-color: #9b59b6;
}

.input3 {
	--vmq-text-input-color: #2980b9;
}

.input3 {
	--vmq-text-input-color: rgb(52, 73, 94, .5);
}
</style>