<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Counter</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Short message"
						:counter="20"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Counter</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Short message"
						:counter="20"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Counter</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						placeholder="Short message"
						:counter="100"
						trim
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "This is long message.",
			inputLabelBorder1: "This is short msg.",
			inputLabelNone1: ""
		};
	},

	methods: {
		isValidEmail(email) {
			const re = /[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+/;
			return re.test(email);
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px 10px 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}
</style>