<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Disabled</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Username"
						:disabled="true"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Disabled</h3>
				<section>
					<TheInput
						v-model="inputLabelOutside1"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Username"
						:disabled="true"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Disabled</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Username"
						:disabled="true"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Disabled</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						:disabled="true"
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "Text message...",
			inputLabelOutside1: "Text message...",
			inputLabelBorder1: "Text message...",
			inputLabelNone1: "Text message..."
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}
</style>