<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Icon</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="password"
						size="medium"
						label-style="label-inside"
						label="Password"
						icon-prepend="🔑"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<TheInput
						v-model="inputLabelOutside1"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Date of birth"
					>
						<template v-slot:icon-append>
							<i class="fas fa-calendar color-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Display name"
					>
						<template v-slot:icon-prepend>
							<i class="fas fa-user color-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						placeholder="Add Todo"
						clearable
					>
						<template v-slot:icon-prepend>
							<i class="fas fa-pen color-gray"></i>
						</template>
						<template v-slot:icon-append>
							<i class="fas fa-book color-gray"></i>
						</template>
					</TheInput>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "",
			inputLabelOutside1: "",
			inputLabelBorder1: "",
			inputLabelNone1: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px 10px 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}

.color-gray {
	color: gray;
}
</style>