<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Label inside</h3>
				<section>
					<TheInput
						v-model="inputLabelInsideMidium"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Label"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelInsideLarge"
						type="text"
						size="large"
						label-style="label-inside"
						label="Label"
						:disabled="false"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>Label outside</h3>
				<section>
					<TheInput
						v-model="inputLabelOutsideMidium"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Label"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelOutsideLarge"
						type="text"
						size="large"
						label-style="label-outside"
						label="Label"
						:disabled="false"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>Label on border</h3>
				<section>
					<TheInput
						v-model="inputLabelBorderMidium"
						type="text"
						size="medium"
						label-style="label-border"
						label="Label"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelBorderLarge"
						type="text"
						size="large"
						label-style="label-border"
						label="Label"
						:disabled="false"
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>No label</h3>
				<section>
					<TheInput
						v-model="inputLabelNoneMidium"
						type="text"
						size="medium"
						label-style="label-none"
						label="Label"
						placeholder="Placeholder"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelNoneLarge"
						type="text"
						size="large"
						label-style="label-none"
						label="Label"
						placeholder="Placeholder"
						:disabled="false"
						clearable
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInsideSmall: "",
			inputLabelInsideMidium: "Text message...",
			inputLabelInsideLarge: "",

			inputLabelOutsideSmall: "",
			inputLabelOutsideMidium: "Text message...",
			inputLabelOutsideLarge: "",

			inputLabelBorderSmall: "",
			inputLabelBorderMidium: "Text message...",
			inputLabelBorderLarge: "",

			inputLabelNoneSmall: "",
			inputLabelNoneMidium: "Text message...",
			inputLabelNoneLarge: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}

.text-gray {
	color: gray;
}
</style>