<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Preset and custom pattern</h3>
				<section>
					<TheInput
						v-model="inputEnglish"
						regex="ENGLISH_ALPHABET_ONLY"
						type="text"
						size="medium"
						label-style="label-inside"
						label="ENGLISH_ALPHABET_ONLY"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Preset and custom pattern</h3>
				<section>
					<TheInput
						v-model="inputEnglishNumber"
						regex="ENGLISH_AND_NUMBER_ONLY"
						type="text"
						size="medium"
						label-style="label-outside"
						label="ENGLISH_AND_NUMBER_ONLY"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Preset and custom pattern</h3>
				<section>
					<TheInput
						v-model="inputNumber"
						regex="NUMBER_ONLY"
						type="text"
						size="medium"
						label-style="label-border"
						label="NUMBER_ONLY"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Preset and custom pattern</h3>
				<section>
					<TheInput
						v-model="inputCustomRegex"
						regex="/^[a-zA-Z]*$/"
						type="text"
						size="medium"
						label="/^[a-zA-Z]*$/ (Alphabet Only)"
						autofocus
						clearable
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputEnglish: "",
			inputEnglishNumber: "",
			inputNumber: "",
			inputCustomRegex: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
	display: flex;
	padding: 15px;

	.rows {
		flex: 1;
		padding: 0 15px;
		border-bottom: solid 1px #ccc;

		h1 {
			color: #666666;
		}

		section {
			margin-bottom: 20px;

			p {
				margin-top: 5px;
			}
		}

		hr {
			margin-bottom: 15px;
		}
	}
}

.text-gray {
	color: gray;
}
</style>