
<template>
	<div class="wrapper">

		<div class="container">
			<div class="rows">
				<h3>Timeout: 300 ms</h3>
				<section>
					<TheInput
						v-model="inputTimeOut300"
						:timeout="300"
						:label="inputTimeOut300 ? `Your text: ${inputTimeOut300}` : 'Label'"
						type="text"
						size="medium"
						label-style="label-inside"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>Timeout: 500</h3>
				<section>
					<TheInput
						v-model="inputTimeOut500"
						:timeout="500"
						:label="inputTimeOut500 ? `Your text: ${inputTimeOut500}` : 'Label'"
						type="text"
						size="medium"
						label-style="label-outside"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>Timeout: 1000</h3>
				<section>
					<TheInput
						v-model="inputTimeOut1000"
						:timeout="1000"
						:label="inputTimeOut1000 ? `Your text: ${inputTimeOut1000}` : 'Label'"
						type="text"
						size="medium"
						label-style="label-border"
						autofocus
						clearable
					/>
				</section>
			</div>
			<div class="rows">
				<h3>Timeout: Off</h3>
				<section>
					<TheInput
						v-model="inputTimeOutOff"
						:label="inputTimeOutOff ? `Your text: ${inputTimeOutOff}` : 'Label'"
						type="text"
						size="medium"
						label-style="label-outside"
						autofocus
						clearable
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputTimeOut300: "",
			inputTimeOut500: "",
			inputTimeOut1000: "",
			inputTimeOutOff: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
	display: flex;
	padding: 15px;

	.rows {
		flex: 1;
		padding: 0 15px;
		border-bottom: solid 1px #ccc;

		h1 {
			color: #666666;
		}

		section {
			margin-bottom: 20px;

			p {
				margin-top: 5px;
			}
		}

		hr {
			margin-bottom: 15px;
		}
	}
}

.text-gray {
	color: gray;
}
</style>