<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Type</h3>
				<section>
					<TheInput
						v-model="inputLabelInside1"
						type="text"
						size="medium"
						label-style="label-inside"
						label="Username"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelInside2"
						type="password"
						size="medium"
						label-style="label-inside"
						label="Password"
						:disabled="false"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Type</h3>
				<section>
					<TheInput
						v-model="inputLabelOutside1"
						type="text"
						size="medium"
						label-style="label-outside"
						label="Username"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelOutside2"
						type="password"
						size="medium"
						label-style="label-outside"
						label="Password"
						:disabled="false"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Type</h3>
				<section>
					<TheInput
						v-model="inputLabelBorder1"
						type="text"
						size="medium"
						label-style="label-border"
						label="Username"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelBorder2"
						type="password"
						size="medium"
						label-style="label-border"
						label="Password"
						:disabled="false"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Type</h3>
				<section>
					<TheInput
						v-model="inputLabelNone1"
						type="text"
						size="medium"
						placeholder="Username"
						:disabled="false"
					/>
				</section>
				<section>
					<TheInput
						v-model="inputLabelNone2"
						type="password"
						size="medium"
						placeholder="Password"
						:disabled="false"
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import TheInput from "../TheInput.vue";

export default {
	components: {
		TheInput
	},

	data() {
		return {
			inputLabelInside1: "",
			inputLabelInside2: "",

			inputLabelOutside1: "",
			inputLabelOutside2: "",

			inputLabelBorder1: "",
			inputLabelBorder2: "",

			inputLabelNone1: "",
			inputLabelNone2: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;
        border-bottom: solid 1px #ccc;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}
</style>