<template>
	<div
		:class="['vmq-input-wrapper', ...wrapperClass]"
		ref="wrapper"
		@click="handleClick"
	>
		<input
			v-model="input"
			v-bind="$attrs"
			:placeholder="filterPlaceholder"
			:disabled="disabled"
			class="vmq-input-textfield"
			ref="textfield"
			@select="handleSelect"
			@focus="handleFocus"
			@blur="handleBlur"
			@change="handleChange"
			@keyup="handleKeyup"
			@keydown="handleKeydown"
			@keypress="handleKeypress"
		/>

		<!-- label -->
		<span class="vmq-input-label" ref="label">
			{{ label }}
		</span>

		<!-- textfield border, or backdrop -->
		<!-- display for labelStyle `label-border` only -->
		<span class="vmq-input-border">
			<span class="start" ref="border-start"></span>
			<span class="center" ref="border-center"></span>
			<span class="end"></span>
		</span>

		<!-- state input, left bottom -->
		<span v-if="isValidInput || isInvalidInput" class="vmq-input-state">
			<slot name="state-invalid-text">
				{{ stateText }}
			</slot>
		</span>

		<!-- icon -->
		<span v-if="hasIconPrepend" class="vmq-input-icon-prepend" ref="icon-prepend">
			<slot name="icon-prepend">
				<span v-html="iconPrependHtml"></span>
			</slot>
		</span>

		<span v-if="hasIconAppend" class="vmq-input-icon-append" ref="icon-append">
			<slot name="icon-append">
				<span v-html="iconAppendHtml"></span>
			</slot>
		</span>

		<!-- helper text, left bottom -->
		<span v-if="(!isValidInput && !isInvalidInput) && hasHelperText" class="vmq-input-helper">
			<slot name="helper-text">
				<span>{{ helperText }}</span>
			</slot>

		</span>

		<!-- counter, right bottom -->
		<!-- don't release this feature for now -->
		<!-- <span v-if="hasCounter" class="vmq-input-counter">
			{{ counterText }}
		</span> -->

		<!-- clear button, right -->
		<span class="vmq-input-clear" ref="clear" @click="handleClear">
			<slot name="clear">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px"
					viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
					<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
					L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
					c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
					l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
					L284.286,256.002z"/>
				</svg>
			</slot>
		</span>
	</div>
</template>

<script>
import { onKeyPress } from "../utils";

export default {
	name: "Input",

	// Bind native html attribute to input eg. maxlength, min, max
	inheritAttrs: false,

	props: {
		value: {
			type: String
		},

		containerClass: {
			type: String,
			default: ""
		},

		size: {
			type: String,
			default: "large",
			validator: (value) => {
				return [
					"small",
					"medium",
					"large"
				].includes((value));
			}
		},

		labelStyle: {
			type: String,
			default: "label-none",
			validator: (value) => {
				return [
					"label-inside",
					"label-outside",
					"label-border",
					"label-none"
				].includes((value));
			}
		},

		label: {
			type: String,
			default: ""
		},

		placeholder: {
			type: String,
			default: ""
		},

		disabled: {
			type: Boolean,
			default: false
		},

		state: {
			type: Boolean,
			default: null
		},

		stateInvalidText: {
			type: String,
			default: ""
		},

		stateValidText: {
			type: String,
			default: ""
		},

		helperText: {
			type: String,
			default: ""
		},

		counter: {
			type: Number,
			default: -1
		},

		iconPrepend: {
			type: String,
			default: null
		},

		iconAppend: {
			type: String,
			default: null
		},

		autofocus: {
			type: Boolean,
			default: false
		},

		clearable: {
			type: Boolean,
			default: false
		},

		trim: {
			type: Boolean,
			default: false
		},

		regex: {
			default: null
		},

		timeout: {
			type: Number,
			default: 0
		}
	},

	data() {
		return {
			input: "",

			// same as scss variable, they should be equal
			// $spacing-default, $spacing-icon, animate
			cssVariable: {
				spacingDefault: 12,
				spacingIcon: 14,
				animateTimeout: 200
			}
		};
	},

	computed: {
		wrapperClass() {
			return [
				this.containerClass,
				this.size,
				this.labelStyle,
				this.filledClass,
				this.disabledClass,
				this.stateClass,
				this.counterClass,
				this.iconPrependClass,
				this.iconAppendClass,
				this.clearableClass
			];
		},

		filterInput() {
			if (this.trim && this.input) {
				return this.input.trim();
			}
			return this.input || "";
		},

		// placeholder will display for label-none only
		filterPlaceholder() {
			return this.labelStyle === "label-none"
				? this.label || this.placeholder // Allow to use both placeholder and label
				: "";
		},

		filled() {
			return this.filterInput.length > 0;
		},

		isInvalidInput() {
			return this.state === false;
		},

		isValidInput() {
			return this.state === true;
		},

		// valid-text or is-invalid-text
		stateText() {
			if (this.state === null) {
				return "";
			}

			if (this.state === false) {
				return this.stateInvalidText;
			}

			return this.stateValidText;
		},

		hasHelperText() {
			return this.helperText.trim().length > 0 || this.hasSlotHelperText;
		},

		hasCounter() {
			return this.counter >= 0;
		},

		counterText() {
			return `${this.filterInput.length}/${this.counter}`;
		},

		isCounterMaxLimit() {
			return this.filterInput.length > this.counter && this.hasCounter;
		},

		hasIconPrepend() {
			return !!this.iconPrepend || this.hasSlotIconPrepend;
		},

		hasIconAppend() {
			return !!this.iconAppend || this.hasSlotIconAppend;
		},

		iconPrependHtml() {
			if (typeof this.iconPrepend === "string") {
				return this.iconPrepend;
			}

			return "";
		},

		iconAppendHtml() {
			if (typeof this.iconAppend === "string") {
				return this.iconAppend;
			}

			return "";
		},

		filledClass() {
			return { filled: this.filled };
		},

		disabledClass() {
			return { disabled: this.disabled };
		},

		stateClass() {
			if (this.state === null) {
				return "";
			}

			if (this.state === false) {
				return "is-invalid";
			}

			return "is-valid";
		},

		counterClass() {
			return { "counter-max-limit": this.isCounterMaxLimit };
		},

		iconPrependClass() {
			return this.hasIconPrepend
				? "icon-append"
				: null;
		},

		iconAppendClass() {
			return this.hasIconAppend
				? "icon-append"
				: null;
		},

		clearableClass() {
			return this.clearable
				? "clearable"
				: null;
		},

		hasSlotIconPrepend() {
			return this.$slots["icon-prepend"];
		},

		hasSlotIconAppend() {
			return this.$slots["icon-append"];
		},

		hasSlotHelperText() {
			return this.$slots["helper-text"];
		}
	},

	watch: {
		// emit input to the parent when input was changed.
		// the parent can sync data by use v-model
		input(value) {
			if (this.timeout) {
				this.updateValueTimeout(value);

				return;
			}

			this.$emit("input", value);
		},

		value(value) {
			this.input = value;
		}
	},

	created() {
		// get the value from v-model of parent.
		// then set my input to equal the value
		this.input = this.value;
	},

	mounted() {
		this.setUI();
		this.setAutoFocus();

		// use timeout to recheck `filled` then update ui
		setTimeout(() => {
			if (this.filled) {
				this.setUI();
			}
		}, 200);
	},

	methods: {
		setUI() {
			this.setIconWidth();

			if (this.filled) {
				this.setLabelLayout({ animate: 0 });
			}
		},

		setAutoFocus() {
			if (this.autofocus) {
				this.$refs.textfield.focus();
			}
		},

		setIconWidth() {
			const $textfield = this.$refs.textfield;
			const $label = this.$refs.label;
			const $iconPrepend = this.$refs["icon-prepend"];
			const $iconAppend = this.$refs["icon-append"];
			const $clear = this.$refs.clear;
			const { cssVariable } = this;

			if ($iconPrepend) {
				const { width } = $iconPrepend.getBoundingClientRect();
				$textfield.style.paddingLeft = `${width + (cssVariable.spacingDefault * 2)}px`;
				$label.style.left = `${width + (cssVariable.spacingDefault * 2) + 1.5}px`;
			}

			if ($iconAppend) {
				const { width } = $iconAppend.getBoundingClientRect();

				if (this.clearable) {
					$clear.style.right = `${width + (cssVariable.spacingDefault * 3)}px`;
					$textfield.style.paddingRight = `${width + (cssVariable.spacingDefault * 4) + cssVariable.spacingIcon}px`;
				} else {
					$textfield.style.paddingRight = `${width + (cssVariable.spacingDefault * 2)}px`;
				}
			}
		},

		setLabelLayout({ animate }) {
			if (this.labelStyle === "label-border") {
				setTimeout(() => {
					const $label = this.$refs.label;
					const { width } = this.$refs.label.getBoundingClientRect();
					this.$refs["border-start"].style.width = `${$label.offsetLeft - 7}px`;
					this.$refs["border-center"].style.width = `${width + 13}px`;
				}, animate);
			}
		},

		handleClear() {
			this.input = "";
			this.$refs.textfield.focus();
		},

		/**
		 * input event hanler
		 */
		handleSelect(event) {
			this.$emit("select", event.target.value, event);
		},

		handleFocus(event) {
			this.$emit("focus", event.target.value, event);

			this.setLabelLayout({ animate: this.cssVariable.animateTimeout });
		},

		handleBlur(event) {
			this.$emit("blur", event.target.value, event);
		},

		handleChange(event) {
			this.$emit("change", event.target.value, event);
		},

		handleKeyup(event) {
			this.$emit("keyup", event.target.value, event);
		},

		handleKeydown(event) {
			this.$emit("keydown", event.target.value, event);
		},

		handleKeypress(event) {
			this.$emit("keypress", event.target.value, event);

			return onKeyPress(event)(this.regex);
		},

		handleClick(event) {
			this.$emit("click", this.input, event);
		},

		updateValueTimeout(value) {
			// Debounce function here
			if (this.typing) {
				clearTimeout(this.typing);
			}

			this.typing = setTimeout(() => {
				this.$emit("input", value);
			}, this.timeout);
		}
	}
};
</script>

<style lang="scss" scroped>
$font-smallest: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 16px;

$border-radius-textfield: 4px;
$border-width-textfield: 2px;

$color-scooter: #28b7c1;
$color-mercury: #e7e7e7;
$color-alto: #d4d4d4;
$color-silver: #c3c3c3;
$color-silver-chalice: #bfbfbf;
$color-gray: #888;
$color-white: #fff;
$color-red: #f05050;
$color-green: green;
$color-black-45: rgba(0, 0, 0, 0.45);

$spacing-default: 12px;
$spacing-label: 14px;
$spacing-icon: 14px;

$animate: 200ms;
$property: ease-in-out;
$transition-label: top $animate $property, font-size $animate $property, color $animate $property;
$transition-textfield: border $animate $property;

.vmq-input {
	&-wrapper {
		position: relative;
		display: flex;
	}

	&-textfield {
		position: relative;
		z-index: 1;
		flex: 1;
		outline: none;
		border: solid 1px rgba(0, 0, 0, 0);
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
		line-height: 18px;

		&:disabled,
		&:disabled::placeholder {
			color: $color-silver-chalice;
		}
	}

	&-label {
		position: absolute;
		top: 50%;
		left: $spacing-label;
		transform: translateY(-50%);
		color: $color-gray;
		visibility: hidden;
	}

	&-label {
		transition: $transition-label;
	}

	&-textfield {
		transition: $transition-textfield;
	}

	&-wrapper.small > &-textfield {
		padding: 6px $spacing-default 6px $spacing-default;
	}

	&-wrapper.medium > &-textfield {
		padding: 10px $spacing-default 10px $spacing-default;
	}

	&-wrapper.large > &-textfield {
		padding: 18px $spacing-default 18px $spacing-default;
	}

	&-wrapper.small > &-textfield, &-wrapper.small > &-label {
		font-size: $font-small;
	}

	&-wrapper.medium > &-textfield, &-wrapper.medium > &-label {
		font-size: $font-medium;
	}

	&-wrapper.large > &-textfield, &-wrapper.large > &-label {
		font-size: $font-large;
	}

	&-wrapper.label-inside > &-label,
	&-wrapper.label-outside > &-label,
	&-wrapper.label-border > &-label {
		visibility: visible;
	}

	&-wrapper.label-inside > &-textfield:focus ~ &-label,
	&-wrapper.label-outside > &-textfield:focus ~ &-label,
	&-wrapper.label-border > &-textfield:focus ~ &-label {
		color: $color-scooter;
		color: var(--vmq-text-input-color, $color-scooter);
	}

	&-wrapper.small.label-inside > &-textfield {
		padding-top: 10px;
		padding-bottom: 2px;
	}

	&-wrapper.medium.label-inside > &-textfield {
		padding-top: 16px;
		padding-bottom: 4px;
	}

	&-wrapper.large.label-inside > &-textfield {
		padding-top: 28px;
		padding-bottom: 8px;
	}

	&-wrapper.label-inside > &-textfield:focus ~ &-label,
	&-wrapper.label-inside.filled > &-label {
		font-size: $font-smallest;
	}

	&-wrapper.small.label-inside > &-textfield:focus ~ &-label,
	&-wrapper.small.label-inside.filled > &-label {
		top: 10px;
	}

	&-wrapper.medium.label-inside > &-textfield:focus ~ &-label,
	&-wrapper.medium.label-inside.filled > &-label {
		top: 10px;
	}

	&-wrapper.large.label-inside > &-textfield:focus ~ &-label,
	&-wrapper.large.label-inside.filled > &-label {
		top: 16px;
	}

	&-wrapper.label-outside > &-textfield:focus ~ &-label,
	&-wrapper.label-outside.filled > &-label {
		font-size: $font-smallest;
	}

	&-wrapper.small.label-outside > &-textfield:focus ~ &-label,
	&-wrapper.small.label-outside.filled > &-label {
		top: -10px;
	}

	&-wrapper.medium.label-outside > &-textfield:focus ~ &-label,
	&-wrapper.medium.label-outside.filled > &-label {
		top: -10px;
	}

	&-wrapper.large.label-outside > &-textfield:focus ~ &-label,
	&-wrapper.large.label-outside.filled > &-label {
		top: -10px;
	}

	&-wrapper.label-border > &-textfield:focus ~ &-label,
	&-wrapper.label-border.filled > &-label {
		top: 0;
		font-size: $spacing-default;
	}

	&-textfield:disabled ~ &-label {
		color: $color-silver;
	}

	&-wrapper.label-border > &-textfield:disabled {
		z-index: 0;
		color: $color-silver-chalice;
	}

	&-wrapper.label-border > &-textfield:disabled ~ &-label {
		color: $color-silver;
	}

	&-state, &-helper, &-counter {
		position: absolute;
		bottom: -10px;
		left: $spacing-default;
		transform: translateY(50%);
		font-size: $font-smallest;
		color: $color-black-45;
	}

	&-counter {
		left: auto;
		right: $spacing-default;
		color: $color-gray;
	}

	&-wrapper.filled.is-valid > &-label,
	&-wrapper.is-valid > &-textfield:focus ~ &-label,
	&-wrapper.is-valid > &-state {
		color: $color-green;
	}

	&-wrapper.filled.is-invalid > &-label,
	&-wrapper.is-invalid > &-textfield:focus ~ &-label,
	&-wrapper.is-invalid > &-state {
		color: $color-red;
	}

	&-wrapper.counter-max-limit > &-counter {
		color: $color-red;
	}

	&-icon-prepend, &-icon-append {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-icon-prepend {
		left: $spacing-icon;
	}

	&-icon-append {
		right: $spacing-icon;
	}

	&-clear {
		position: absolute;
		z-index: 1;
		top: 50%;
		right: $spacing-default;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		visibility: hidden;
		opacity: 0;
		transition: opacity $animate $property, visibility 0ms $property $animate;
	}

	&-wrapper.clearable.filled > &-clear {
		transition: opacity $animate $property, visibility $animate $property;
		visibility: visible;
		opacity: 1;
	}

	&-wrapper > &-textfield ~ &-border {
		visibility: visible;
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;

		.start {
			box-sizing: border-box;
			width: 7px;
			border-top: 1px solid $color-alto;
			border-left: 1px solid $color-alto;
			border-bottom: 1px solid $color-alto;
			border-radius: $border-radius-textfield 0 0 $border-radius-textfield;
			transition: border-color $animate $property, border-width $animate $property;
		}

		.center {
			box-sizing: border-box;
			border-top: 1px solid $color-alto;
			border-bottom: 1px solid $color-alto;
			transition: border-top 0ms $property ($animate/2), border-bottom $animate $property;
		}

		.end {
			box-sizing: border-box;
			flex: 1;
			border-bottom: 1px solid $color-alto;
			border-right: 1px solid $color-alto;
			border-top: 1px solid $color-alto;
			border-radius: 0 $border-radius-textfield $border-radius-textfield 0;
			transition: border-color $animate $property, border-width $animate $property;
		}
	}

	&-wrapper:not(.is-invalid):not(.is-valid):not(.disabled) > &-textfield:hover:not(:focus) ~ &-border {
		.start, .center, .end {
			border-color: $color-silver-chalice;
		}
	}

	&-wrapper > &-textfield:focus ~ &-border {
		.start, .center, .end {
			border-width: var(--vmq-text-input-border-width, $border-width-textfield);
			border-color: $color-scooter;
			border-color: var(--vmq-text-input-color, $color-scooter);
		}

		.center {
			border-top: none;
		}
	}

	&-wrapper.is-valid:not(.filled) > &-textfield ~ &-border {
		.start, .center, .end {
			border-width: var(--vmq-text-input-border-width, $border-width-textfield);
			border-color: $color-green;
		}
	}

	&-wrapper.is-valid > &-textfield:focus ~ &-border,
	&-wrapper.filled.is-valid > &-border {
		.start, .center, .end {
			border-width: var(--vmq-text-input-border-width, $border-width-textfield);
			border-color: $color-green;
		}

		.center {
			border-top: none;
		}
	}

	&-wrapper.is-invalid:not(.filled) > &-textfield ~ &-border {
		.start, .center, .end {
			border-width: var(--vmq-text-input-border-width, $border-width-textfield);
			border-color: $color-red;
		}
	}

	&-wrapper.is-invalid > &-textfield:focus ~ &-border,
	&-wrapper.filled.is-invalid > &-border {
		.start, .center, .end {
			border-width: var(--vmq-text-input-border-width, $border-width-textfield);
			border-color: $color-red;
		}

		.center {
			border-top: none;
		}
	}

	&-wrapper.filled > &-border,
	&-wrapper.disabled.filled > &-border {
		.start, .center, .end {
			border-color: $color-alto;
		}

		.center {
			border-top: none;
		}
	}
}
</style>